.loading,
.error {
    text-align: center;
    margin-top: 2rem;
}

.loading { color: white; }

.error { color: red; }

.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
}

.meals ul {
    list-style: none;
}

@keyframes meals-appear {
    from {
        transform: translateY(3rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}