.summary {
  text-align: center;
  color: #fff;
  max-width: 45rem;
  width: 90%;
  background-color: #383838;
  border-radius: 14px;
  padding: 1rem;
  margin: 0 auto;
  margin-top: -8rem;
  position: relative;
  box-shadow: 0px 1px 18px 10px rgba(0, 0, 0, .25);
}

.summary h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.summary p {
  margin-bottom: .5rem;
}