.cart-item {
    padding: 1rem 0;
    border-bottom: 2px solid #8a2b06;
    margin: 1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item h2 {
    color: #363636;
}

.summary {
    width: 10rem;
    margin-top: .5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    color: #8a2b06;
    font-weight: bold;
}

.amount {
    color: #363636;
    font-weight: bold;
    padding: .25rem .75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.actions {
    display: flex;
    column-gap: .5rem;
}
 
@media (max-width: 768px) {
    .actions {
        flex-direction: column;
        row-gap: .5rem;
    }
}

.actions button {
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color: #8a2b06;
    width: 3rem;
    border: 1px solid #8a2b06;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
}

.actions button:hover,
.actions button:active {
    background-color: #8a2b06;
    color: white;
}