.form {
    margin: 1rem 0;
    height: 10rem;
    overflow-y: scroll;
    padding-right: .5rem;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
}

.control input {
    font: inherit;
    border: 1px solid #ccc;
    padding: .15rem .3rem;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
}

.control p {
    font-size: 12px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
}

.actions button {
    font: inherit;
    border: none;
    color: #5a1a01;
    cursor: pointer;
    background-color: transparent;
    border-radius: 25px;
    padding: 0.5rem 2rem; 
}

.actions button:hover,
.actions button:active {
    background-color: #ffe6dc;
}

.actions .submit {
    color: white;
    border: 1px solid #5a1a01;
    background-color: #5a1a01;
}

.actions .submit:hover,
.actions .submit:active {
    background-color: #7a2706;
}

.invalid label {
    color: #ca3e51;
}

.invalid input {
    border-color: #aa0b20;
    background-color: #ffeff1;
}