.meal {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    margin: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meal h3 {
    margin-bottom: .25rem;
}

.description {
    font-style: italic;
}

.price {
    margin-top: .25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
}