.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  background-color: #8a2b06;
  color: white;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-image {
  height: 20rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}