.input-box {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.input-box label {
    font-weight: bold;
}

.input-box input {
    font: inherit;
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: .5rem;
}